# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools for Data Science
* examples of evaluating arithmetic expressions in Python

## Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia
5. JavaScript
6. Java
7. Scala

## Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

##
| Data Science Tools |
|--------------------|
|       MySQL        |
|      CouchDB       |
|      mongoDB       |

## Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Ujjwal Tyagi
Author